/* Main Styling */
body {
  background-color: green;
  color: black;
  font-family: Fantasy;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 17px;
}

img {
  max-width: 100%;
  height: auto;
  border: solid;
  margin-bottom: 10px;
}

hr {
  height: 5px;
  background-color: green;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Link Button Styled */
a.button:link {
  background-color: #02be02;
  color: #0000ff;
  margin: 3px;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
}
a.button:visited {
  color: purple;
}
a.button:hover {
  background-color: #06690e;
  color: #ffffff;
}
a.button:focus {
  background-color: #06690e;
  color: #ffffff;
}
a.button:active {
  background-color: #034108;
  color: #debaff;
}

/* Main Content (Box) */
.mainbox {
  width: 50%;
  background-color: lightgreen;
  border: 3px solid black;
  margin: auto;
  padding: 30px;
  max-width: 800px;
  text-align: center;
}

/* Footer */
p.copyright {
  font-size: 12px;
}