body {
  background-color: green;
  color: black;
  font-family: Verdana;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

h2, p {
  text-align: center;
}

.mainbox {
  width: 50%;
  background-color: lightgreen;
  margin: auto;
  padding: 30px;
  max-width: 800px;
  text-align: center;
}

hr {
  height: 2px;
  background-color: green;
  border-color: green;
}

.bottom-line {
  margin-top: 25px;
}