/* Main Styling */
body {
  background-color: green;
  color: black;
  font-family: Verdana;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

h2, p {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border: solid;
  margin-bottom: 10px;
}

hr {
  height: 5px;
  background-color: green;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Link Button Styled */
a:link {
  background-color: #02be02;
  border: 3px solid black;
  color: #0000ff;
  margin: 3px;
  padding: 10px;
  display: inline-block;
}
a:visited {
  border: 3px solid black;
  color: purple;
}
a:hover {
  background-color: #06690e;
  color: #ffffff;
}
a:focus {
  background-color: #06690e;
  color: #ffffff;
}
a:active {
  background-color: #034108;
  color: #debaff;
}

/* Main Content (Box) */
.mainbox {
  width: 50%;
  background-color: lightgreen;
  border: 3px solid black;
  margin: auto;
  padding: 30px;
  max-width: 800px;
  text-align: center;
}