/* Main Styling */
body {
  background-color: green;
  color: black;
  font-family: Verdana;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

h2, p {
  text-align: center;
}

img {
  border: solid;
  margin-bottom: 10px;
}

hr {
  height: 5px;
  background-color: green;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Link Button Styled */
a:link {
  background-color: rgb(2, 190, 2);
  color: rgb(0, 0, 255);
  margin: 3px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
a:visited {
  color: purple;
}
a:hover {
  color: rgb(98, 98, 255);
}
a:active {
  color: rgb(222, 186, 255);
}

/* Main Content (Box) */
.mainbox {
  width: 50%;
  background-color: lightgreen;
  margin: auto;
  padding: 30px;
  max-width: 800px;
  text-align: center;
}