/* Main Styling */

body {
  background-color: green;
  color: black;
  font-family: Arial;
}

p {
  margin: 20px;
  text-align: left;
}

p:has(.button) {
  text-align: center;
}

h1 {
  font-size: 70px;
  text-shadow: 2px 2px 10px black;
  color: white;
  background-image: url(../assets/images/WebsiteBanner.png);
  background-repeat: no-repeat;
  background-size: 900px 191px;
  padding: 55px;
  margin: 0px;
}

h2 {
  margin: 15px;
}

li:not(.topnav li){
  text-align: center;
  list-style-position: inside;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border: solid;
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 15px;
}

a.noBorder {
  color: black;
}

/* Container */
.container {
  width: 50%;
  background-color: lightgreen;
  border: 3px solid black;
  margin: auto;
  padding: 0;
  max-width: 900px;
  text-align: center;
}

/*Top Navigation Bar */
.topnav {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.topnav ul {
  list-style-type: none;
  background-color: #02435f;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.topnav a {
  color: white;
  background-color: #2487b1;
  padding: 15px;
  margin: 10px 4px 10px 4px;
  display: inline-block;
  border: 2px solid black;
  transition: transform 0.3s, background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 2px 2px 5px black;
}
.topnav .active {
  background-color: #05aff8;
  transform: scale(1.1)
}
.topnav a:hover {
  background-color: #05aff8;
  transform: scale(1.1);
}
.topnav li {
  display: inline-block;
}

/* Link Button Styled */
a.button:link {
  background-color: #02be02;
  color: #0000ff;
  margin: -5px;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 2px 2px 5px black;
}
a.button:visited {
  color: purple;
}
a.button:hover {
  background-color: #06690e;
  color: #ffffff;
  transform: scale(1.1);
}
a.button:focus {
  background-color: #06690e;
  color: #ffffff;
}
a.button:active {
  background-color: #034108;
  color: #debaff;
}

/* Baldi Page */
.baldi {
  background-image: url(../assets/images/BaldiNoNose.jpg);
  margin-top: 8px;
}

/* Horizontal Break */
hr {
  height: 3px;
  color: black;
  background-color: black;
  border: none;
}

/* Footer */
p.footer {
  font-size: 12px;
  text-align: center;
  margin: 20px;
}