/*-- CSS Reset --*/
* {
  margin: 0;
  padding: 0;
}

/*-- Elements --*/
html {
  overflow-x: scroll;
}

body {
  background: radial-gradient(circle,rgba(55, 184, 35, 1) 0%, rgba(0, 115, 0, 1) 50%, rgba(0, 105, 0, 1) 100%);
  color: black;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption {
  margin: 20px;
}

p:not(.footer p, .centertext) {
  font-size: 1rem;
  line-height: 1.5em;
  text-align: left;
}

ul:not(.topnav ul) {
  display: inline-block;

  text-align: left;
}

li:not(.topnav li) {
  margin: 0 20px 0 20px;

  line-height: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;

  border: solid black;
}

textarea {
  padding: 10px;
}

hr {
  margin: auto;
  height: 3px;

  background-color: black;
  border: none;
}

/*-- Classes --*/
/*- Title -*/
.title {
  margin: auto;
  padding: 8%;

  max-height: 90%;
  max-width: 90%;

  background-image: url(../images/WebsiteBanner.png);
  background-size: 100% 100%;

  font-size: 4.1rem;
  color: white;
  text-shadow: 2px 2px 10px black;
}

/*- Navigation Bar -*/
.topnav {
  list-style-type: none;
  overflow: hidden;

  background-color: #044a6b;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.topnav li {
  margin: 6px;

  display: inline-block;

  background-color: #43a2bd;
}
.topnav a {
  padding: 15px;

  display: inline-block;
  text-decoration: none;

  color: rgb(0, 0, 0);
  border: 2px solid black;

  transform: scale(1);
  transition: ease-in-out 0.3s;
}
.topnav a:hover {
  background-color: #57d8fa;
  color: rgb(0, 0, 0);
  transform: scale(1.15);
  transition: ease-in-out 0.3s;
}
.topnav a:active {
  transform: scale(1.1);
}
.topnav .active {
  background-color: #57d8fa;
  color: black;
  transform: scale(1.1);
}

/*- Container -*/
.container {
  margin: auto;

  max-width: 850px;

  list-style-position: inside;
  text-align: center;

  background-color: #5ab15a;
  border: 3px solid black;
}

/*- Center Text Subtitle -*/
.centertext {
  text-align: center;
}

/*- Web Button & List Spacing -*/
.webbutton, .listspacing li:last-child:not(.topnav li) {
  margin-bottom: 20px;
  
  border: none;
}

/*- Guestbook Page -*/
.guestbook {
  margin: 20px;
}
.guestbook iframe {
  width: 100%;
  height: 500px;

  border: 3px solid black;
}

/*- External Link -*/
.externallink::after {
  margin-left: 3px;

  vertical-align: middle;

  content: url(../images/linkicons/ExternalIcon.png);
}

/*- Links Page -*/
.linkbuttons a {
  padding: 10px;

  display: inline-block;
  text-decoration: none;

  background-color: #8fda05;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  transform: scale(1);
  transition: ease-in-out 0.3s;
}
.linkbuttons a:hover {
  background-color: #a7ff02;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}

/*- Baldi -*/
.baldi {
  background-image: url(../images/BaldiNoNose.jpg);
}

/*- Strawpage Archive Page -*/
.strawpage {
  margin: 20px;

  display: flex;
  overflow-x: scroll;
  align-items: center;

  border: solid 3px black;
}
.strawpage img {
  margin: 15px;
}

/*- Footer -*/
.footer {
  padding: 1px;

  border-top: 3px solid black;
  background-color: #044a6b;
}
.footer p {
  line-height: 7px;
  font-size: 0.75rem;

  color: white;
}